body {
    padding-top: 70px;
}
/*.bootstrap-tagsinput {
    width: 100%;
}
.label {
    line-height: 2 !important;
}*/
#bookImages {
    cursor: pointer;
    border: 2px dashed #0087F7;
    border-color: #ccc;
    color: #ccc;
    min-height: 350px;
}

.dz-message {
    text-align: center;
    font-family: Roboto;
    font-size: 15px;
    vertical-align: middle;
    padding-top: 50px;
    color: #aaa;
}

@media only screen and (max-width: 375px) {
    #poweredByGoogle img {
        padding-top: 5px;
    }
}
